<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a Flight</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="page-header"><h1 class="virgin-home"><a href="{% url 'index' %}">Virgin Europe</a></h1></div>
<a class="user" href="{% url 'tickets' %}?pax=1">Carson Mosley</a>


{% if not flights %}
    <h2>No flights found, sorry</h2>
    <h3>Try again later or search for a different flight</h3>

{% else %}
    <div class="book-div">
        {% for i in flights %}

            {% if i.is_single_segment %}

            <table class="book-flight-table">
                <tr>
                    <td class="book-flight-number">{{ i.pretty_flight }}</td>
                    <td class="book-date">{{ i.pretty_departure }}</td>
                </tr>
                <tr>
                    <td class="book-small">{{ i.pretty_class }}</td>
                </tr>
                <tr>
                    <td class="book-price">${{ i.price }}</td>
                    <td class="book-button"><a href="{% url 'book' %}?{{ i.to_url_params }}&pax=1">Book flight</a></td>
                </tr>
            </table>

            {% else %}

                <table class="book-flight-table">
                <tr>
                    <td class="book-flight-number">{{ i.pretty_first_flight }}</td>
                    <td class="book-date">{{ i.pretty_departure }}</td>
                </tr>
                <tr>
                    <td class="book-flight-number">{{ i.pretty_second_flight }}</td>
                    <td class="book-date">{{ i.pretty_second_departure }}</td>
                </tr>
                <tr>
                    <td class="book-small">{{ i.pretty_class }}</td>
                </tr>
                <tr>
                    <td class="book-price">${{ i.price }}</td>
                    <td class="book-button"><a href="{% url 'book' %}?{{ i.to_url_params }}&pax=1">Book flights</a></td>
                </tr>
            </table>

            {% endif %}

            <div style="clear:both;"></div>

        {% endfor %}
    </div>
{% endif %}

</body>
</html>