<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose a Flight</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<a class="user" href="{% url 'tickets' %}?pax=1">Carson Mosley</a>


{% if not flights %}
    <h2>No flights found, sorry</h2>
    <h4>Try again later or search for a different flight</h4>

{% else %}
    <div>
        {% for i in flights %}
            <p>{{ i }} <a href="{% url 'book' %}?{{ i.to_url_params }}&pax=1">Book flight</a></p>
        {% endfor %}
    </div>
{% endif %}

</body>
</html>