<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virgin Europe</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="page-header"><h1 class="virgin-home"><a href="{% url 'index' %}">Virgin Europe</a></h1></div>

    <a class="user" href="{% url 'tickets' %}?pax=1">Carson Mosley</a>

    <h2>
        {{ message }}
    </h2>
</body>
</html>